.nav-bar {
    position: fixed;
    background-color: white;
    align-items: center;
    width: 1450px;
    height: 70px;
    padding-top: 10px;
    z-index: 100;
}

.nav-text-contain {
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 19px;
}
.nav-text-contain a {
    color: #2B2F26;
}
.nav-text-contain a:hover {
  color: #967343
}
.logo {
    height: 52px;
    width: 55px;
}
.img {
  width: 99vw;
  height: 99vh;
}
#form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -70vh;
  margin-left: 21em;
  width: 52vw;
  background-color: white;
  height: 50vh;
}
.info-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-name {
  border: none;
  border-bottom: 2px solid #968772;
  font-size: 1.5em;
  width: 45vw;
  margin-bottom: 45px;
}
.input-name:focus {
  border-bottom: 2px solid #967343;
}
.input-email {
  border: none;
  border-bottom: 2px solid #968772;
  font-size: 1.5em;
  width: 45vw;
}
.input-email:focus {
  border-bottom: 2px solid #967343;
}
#submit_button {
  margin-top: 3vh;
  width: 15vw;
  height: 10vh;
  background-color: #968774;
  font-size: 1.5em;
  color: #F2F1E8;
  border: none;
  font-weight: 200;
}
#submit_button:hover {
  background-color: #967343;
  color: #FFFFFF;
}
